altgraph                  0.17.2
click                     7.1.2
future                    0.18.2
hupper                    1.10.3
Jinja2                    3.0.2
MarkupSafe                2.0.1
numpy                     1.21.3
PasteDeploy               2.1.1
pefile                    2021.9.3
Pillow                    8.3.2
pip                       21.3.1
plaster                   1.0
plaster-pastedeploy       0.7
player                    0.6.1
pyinstaller               4.6
pyinstaller-hooks-contrib 2021.3
PyQt5                     5.15.4
pyqt5-plugins             5.15.4.2.2
PyQt5-Qt5                 5.15.2
PyQt5-sip                 12.9.0
pyqt5-tools               5.15.4.3.2
pyqtgraph                 0.12.3
pyramid                   2.0
pyramid-jinja2            2.8
python-dotenv             0.19.0
pywin32-ctypes            0.2.0
qt5-applications          5.15.2.2.2
qt5-tools                 5.15.2.1.2
setuptools                57.0.0
translationstring         1.4
venusian                  3.0.0
WebOb                     1.8.7
wheel                     0.36.2
zope.deprecation          4.4.0
zope.interface            5.4.0